<!DOCTYPE html>
<html>
  <head>
    <title>DEMO WEBSITE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>

      #banner {
        height : 360px;
        object-fit :cover;
        width : 100%;
      }
      
      #h4_tag {
          color: rgb(120,120,120);
          margin-bottom : 4px;
      }
        
    </style>
    
    <body>
        <div class = "container">
        <h1 class="text-center" mt-2 mb-4>{{title}}</h1>
        <img class = "img-fluid" id = "banner"src="https://flask-python-tutorial.mihirpande1.repl.co/static/download.jpeg" alt="HTML Dog">
          <hr>
        <h3 class="text-center" mt-2 mb-4 >About PCCOE</h3>
        <p class = "lead" >Pimpri Chinchwad College of Engineering (PCCoE) is one of the best engineering colleges in Pune, established in 1999, nurtured and managed by Pimpri Chinchwad Education Trust (PCET).

PCCoE is functioning proactively to provide the best professional environment to engineering and management students in terms of academics, industry oriented trainings, sports, co-curricular & extracurricular activities, cultural activities, various competitions, etc to create true aesthetically sensitive, socially committed and technologically competent engineers and management professionals.

Academics at PCCoE is disciplined with results at the par of best colleges in Savitribai Phule Pune University (SPPU). Students of PCCoE are proving their talents at state and national level competitions for technical and non technical events. Along with results PCCoE has excellent placements.

The output of any institute is the input of industry. We sincerely thank our industrial counterparts who help shaping the industry focused personalities of our students through their direct mentorship and continued interaction.</p>
        <hr>
        <h3 class="text-center" mt-2 mb-4>Open Positions</h3>
        <div>
          {% for job in jobs %}
            {%include 'jobitems.html' %}
          {% endfor %}
        </div>
          <div class = "text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
            <p class = "mt-4">Copyright 2023 PCCOE</p>
          </div>
          </div>
    </body>
  </head>
</html>